{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock  %}
{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">{% endblock  %}
{% block body %}
<div class="container c_body">
{% for i in video %}
    <a href="{% url 'video' i.id %}" style="text-decoration: none;">
		<div class="card c_itmescard col-sm-12 col-md-4 col-lg-4" style="width: 18rem; display:inline-block;">
		  <img src="{{i.thmnul}}" class="card-img-top" alt="..." style="height:400px;">
		  <div class="card-body" style="height:113px;">
		    <h4 class="card-text">{{i.titel}}</h4>
		  </div>
		</div>
	</a>
{% endfor %}
</div>
{% endblock  %}